/* global */
body {
  font-family: sans-serif;
  font-size: 16px;
  text-size-adjust: none;
}

body > * {
  margin-top: 8px;
  margin-bottom: 8px;
}

details > summary {
  cursor: pointer;
  padding: 12px 0;
}

/* list(s) in info header */
.infoDetails summary {
  margin-left: 0;
}

.infoDetails > * {
  margin-left: 12px;
}

.infoDetails p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.infoDetails ul {
  margin-top: 4px;
}

.infoDetails ul > li {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* all tables */
table {
  border: 2px solid #ccc;
  border-collapse: collapse;
}

tr {
  border-bottom: 2px solid #ddd;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
}


/* subtables */
td > details > summary {
  cursor: pointer;
  padding: 12px 12px;
}

details > table {
  margin-left: 8px;
  margin-bottom: 8px;
}

td.subtable {
  padding: 0;
}


/* row content */
.copyButtonParent {
  text-align: center;
}

.copyButtonParent > button{
  width: 80%;
}

.langYes {
  background-color: #8e8;
}

.langNo {
  background-color: #e88;
}